# Maven
target/
*.iml
.idea/
.classpath
.project
.settings/

# OS
.DS_Store

# Env / secrets
.env
browserstack.yml

# Local tooling / artifacts
BrowserStackLocal
BrowserStackLocal.exe
BrowserStackLocal.zip
target/screenshots/